body {
    margin: 0;
    font-family: 'inter', 'sans-serif';
}

.contentSection {
    position: absolute;
    top: 89px;
    left: 232px;
    bottom: 0;
    right: 0;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}


.hideScrollBarY {
    overflow-y: hidden;
}