body {
    margin: 0;
    font-family: 'inter', 'sans-serif';
}

.ContentSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 237px;
    margin-top: 95px;
    margin-right: 5px;
    border: 1px solid grey;
    height: 85vh;
}