<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
    <link rel="icon" type="image/x-icon" href="/../favicon/favicon.ico">

    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../../fonts/fonts.css">
    <link rel="stylesheet" href="../../templates/css/header.css">
    <link rel="stylesheet" href="../../templates/css/sidebar.css">
    <link rel="stylesheet" href="../../templates/css/addTask.css">

    <script src="../../main.js"></script>
    <script src="../../templates/js/includeHTML.js"></script>
    <script src="../../templates/js/addTask.js"></script>
</head>

<body onload="init()">
    <div w3-include-html="../../templates/html/header.html"></div>
    <div w3-include-html="../../templates/html/sidebar.html"></div>
    <div class="contentSection" id="ContentSection">
        <h1>Add Task</h1>

        <div class="contentLeftAndRight">
            <div class="contentLeft">
                <div class="titleAndInput">
                    <span>Title</span>
                    <input id="title" placeholder="Enter a title">
                </div>

                <div class="descriptionAndTextarea">
                    <span>Description</span>
                    <textarea id="description" placeholder="Enter a Description"></textarea>
                </div>

                <div class="categoryAndSelect">
                    <span>Category</span>
                    <select id="category">
                        <option>Select task category</option>
                        <option value="design">Design</option>
                        <option value="sales">Sales</option>
                        <option value="backoffice">Backoffice</option>
                        <option value="media">Media</option>
                        <option value="marketing">Marketing</option>
                    </select>
                </div>

                <div class="assignedToAndSelect">
                    <span>Assigned to</span>
                    <select id="assignedTo">
                        <option>Select contacts to assign</option>
                        <option value="Denise Schmidt">Denise Schmidt</option>
                        <option value="Davide Religioso">Davide Religioso</option>
                        <option value="Jacob Hengsbach">Jacob Hengsbach</option>
                        <option value="Philipp Klinger">Philipp Klinger</option>
                        <option value="Max Mustermann">Max Mustermann</option>
                    </select>
                </div>
            </div>

            <div class="borderline"></div>

            <div class="contentRight">
                <div class="dueDateAndInput">
                    <span>Due Date</span>
                    <input type="date" id="date" placeholder="dd/mm/yyyy">
                </div>

                <div class="prio">
                    <span>Prio</span>
                    <div class="prioButtons">
                        <button id="urgent" value="urgent" onclick="urgent()">
                            Urgent
                            <img id="urgentIcon" src="../../img/urgentIcon.png">
                        </button>

                        <button id="medium" value="medium" onclick="medium()">
                            Medium
                            <img id="mediumIcon" src="../../img/mediumIcon.png">
                        </button>

                        <button id="low" value="low" onclick="low()">
                            Low
                            <img id="lowIcon" src="../../img/lowIcon.png">
                        </button>
                    </div>
                </div>

                <div class="subtasksAndInput">
                    <span>Subtasks</span>

                    <div class="inputAndButton">
                        <input id="subtasks" placeholder="Add new subtask">
                        <button onclick="newSubtask()">
                            <img src="../../img/subtaskIcon.png">
                        </button>
                    </div>
                </div>

                <div class="subtasksList" id="subtasksList">

                </div>
            </div>
        </div>

        <div class="twoButtons">
            <button class="clearButton" onclick="clearFields()">
                Clear
                <img src="../../img/cancelIcon.png">
            </button>

            <button class="createTaskButton" id="createTask" onclick="createTask()">
                Create Task
                <img src="../../img/checkIcon.png">
            </button>
        </div>
    </div>
</body>

</html>