<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
    <link rel="icon" type="image/x-icon" href="/../favicon/favicon.ico">

    <link rel="stylesheet" href="/../style.css">
    <link rel="stylesheet" href="/../fonts/fonts.css">
    <link rel="stylesheet" href="/../templates/css/header.css">
    <link rel="stylesheet" href="/../templates/css/sidebar.css">
    <link rel="stylesheet" href="/../templates/css/contacts.css">

    <script src="/../main.js"></script>
    <script src="/../templates/js/includeHTML.js"></script>
    <script src="/../templates/js/contactsTemplates.js"></script>
    
</head>
<body onload="initContacts()">
    <div class="overlaySection" id="overlaySection">
        <div class="overlayAddContact" id="overlayAddContact">
            <div class="overlayAddContactLeft">
                <div class="overlayAddContactLeftContent">
                    <img class="overlayAddContactLeftContentLogo" src="/../img/sidebarLogo.svg" alt="sidebarLogo">
                    <p class="overlayAddContactLeftHeadline">Add Contact</p>
                    <p class="overlayAddContactLeftCaption">Tasks are better with a team!</p>    
                    <img class="overlayAddContactLeftContentLine" src="/../img/addContactOverlayLine.svg" alt="underline">
                </div>
                </div>
            <div class="overlayAddContactRight">
                <div class="overlayAddContactRightProfilepic">
                    <img src="/../img/addContactOverlayEmptyProfile.svg" alt="ProfilePicEmpty">
                </div>
                <div class="overlayAddContactRightInputSection">
                    <form>
                        <input type="text" placeholder="Name">
                        <input type="text" placeholder="Email">
                        <input type="text" placeholder="Phone">
                    </form>
                    <div class="overlayAddContactRightButtonSection">
                        <button>Cancel</button>
                        <button>Create Contact</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contentSectionContacts" id="contentSection">

   
</body>
</html>