<header>
    <div class="header">
        <img src="./img/Logo.png" class="joinLogoSmall" alt="joinLogoSmall">
        <h3 class="headerTitle">Kanban Project Management Tool</h3>
        <div class="headerContentRight">
            <img onclick="showHelpScreen()" src="./img/helpIcon.svg" class="helpLogo" id="helpLogoBtn" alt="helpLogo">
            <div class="headerContentRightProfile">
                <img onclick="showLogOut()" src="./img/profileIcon.png" class="profileLogo" alt="profileLogo">
                    <div class="headerContentRightLogout" id="headerContentRightLogout" style="display: none;">
                        <h6 class="headerContentRightLogoutLegal" onclick="showHelpScreen()">Help</h6>
                        <h6 class="headerContentRightLogoutHelp" onclick="showLegalNoticeScreen()">Legal Notice</h6>
                        <h6 onclick="logOut()">Log out</h6>
                    </div>
                 </div>  
        </div>
    </div>
</header>