<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join</title>
    <link rel="icon" type="image/x-icon" href="../../favicon/favicon.ico" />

    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="../../fonts/fonts.css" />
    <link rel="stylesheet" href="../../templates/css/header.css" />
    <link rel="stylesheet" href="../../templates/css/sidebar.css" />
    <link rel="stylesheet" href="../../templates/css/login.css" />

    <script src="../../main.js"></script>
    <script src="../js/backend.js"></script>
    <script src="../js/register.js"></script>
    <script src="../../templates/js/login.js"></script>
    <script src="../../templates/js/includeHTML.js"></script>
    <script src="../../templates/js/register.js"></script>
  </head>
  <body onload="init(),getMsg(),loadUserLogin()" >
    <div class="msgBox"><div id="msgBox" class="msgBoxContent" ></div></div>
    
    <div id="loginContent" class="loginContent d-flex center">
      <div id="logo" class="logo">
        <img src="../../img/Logo.png" alt="" />
      </div>
      <div id="textSignupButton" class="textSignupButton">
        <div>Not a Join user?</div>
        <button class="bluebutton signUpBtn">Sign up</button>
      </div>
      <div id="innerContentLogin" class="innerContentLogin">
        <div id="loginHeadlineDiv" class="loginHeadlineDiv">
          <h1 id="loginHeadline">Log in</h1>
          <img src="../../img/blueline.png" alt="" />
        </div>

        <form id="emailAndPassword" class="emailAndPassword" onsubmit="login()">
          <input
            required
            class="email emailimg"
            type="email"
            placeholder="Email"
          />
          <input
            required
            class="email passwordimg"
            type="password"
            placeholder="Password"
          />
        </form>
        <div id="rememberAndAPassword" class="rememberAndAPassword">
          <div class="d-flex">
            <button class="rememberbtn"></button>
            <div>Remember me</div>
          </div>
          <a href="#" id="passwordLink" class="passwordLink"
            >Forgot my password</a
          >
        </div>
        <div id="loginButtons" class="loginButtons">
          <button id="loginbtn" class="loginbtn bluebutton">Log in</button>
          <button id="guest" class="guestbtn">Guest Log in</button>
        </div>
      </div>
    </div>
  </body>
</html>
