<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Join</title>
  <link rel="icon" type="image/x-icon" href="../../favicon/favicon.ico" />

  <link rel="stylesheet" href="../../style.css" />
  <link rel="stylesheet" href="../../fonts/fonts.css" />
  <link rel="stylesheet" href="../../templates/css/header.css" />
  <link rel="stylesheet" href="../../templates/css/sidebar.css" />
  <link rel="stylesheet" href="../../templates/css/login.css" />

  <script src="../../main.js"></script>
  <script src="../js/backend.js"></script>
  <script src="../js/login.js"></script>
  <script src="../js/signUp.js"></script>
  <script src="../js/includeHTML.js"></script>
  <script src="../js/resetPassword.js"></script>

</head>

<body onload="loadUserLogin()">
  <div id="buttonAnimationEmail" class="d-none d-flex center"><img id="buttonAnimationEmailImg" class="buttonAnimationImg" src="../../img/resetPw.png" alt=""></div>
  
  <div id="resetPwContent" class="loginContent d-flex center">
    <div id="logoResetPw" class="logo">
      <img src="../../img/Logo.png" alt="" />
    </div>

    <div id="innerContentResetPw" class="innerContentForgotPw">
      <div id="resetPwHeadlineDiv" class="loginHeadlineDiv forgotPwHeadline">
        <div class="d-flex center gap20 gap40">
          <div class="arrowDiv"  onclick="goBackToLogin()">
            <img class="pointer" src="../../img/arrowblue.png" alt=""/>
          </div>
          <h1 id="resetPwHeadline">Reset your password</h1>
        </div>
        <img src="../../img/blueline.png" alt="" />
      </div>
      <p class="t-center textResetPw">
        Change your account password
      </p>
      <form id="resetPwNameEmailAndPassword" class="emailAndPassword NameEmailAndPassword center"
        onsubmit="backToLogin(); return false;">

        <input required id="resetPassword" class="email passwordimg" type="password" placeholder="New password" />
        <input required id="repeatPassword" class="email passwordimg" type="password" placeholder="Confirm password" />
        <button id="resetPwBtn" class="bluebutton forgotPwBtn" onclick="popUpMessageEmail()">Continue</button>
    </div>
    </form>
  </div>
  </div>
</body>

</html>