<nav class="sidebar">
    <div class="sidebarContent">
        <img class="sidebarLogo" src="" alt="JoinLogo">
        <div class="sidebarNavBtn">
            <div id="sidebarSummary" class="" onclick="window.location.href='./templates/html/summary.html'">
                <img class="" src="" alt="Summary">
                <h4>Summary</h4>
            </div>
            <div id="sidebarBoard" class="" onclick="window.location.href='./templates/html/board.html'">
                <img class="" src="" alt="Board">
                <h4>Board</h4>
            </div>
            <div id="sidebarAddTask" class="" onclick="window.location.href='./templates/html/addTask.html'">
                <img class="" src="" alt="Add Task">
                <h4>Add Task</h4>
            </div>
            <div id="sidebarContacts" class="" onclick="window.location.href='./templates/html/contacts.html'">
                <img class="" src="" alt="Contacts">
                <h4>Contacts</h4>
            </div>
        </div>
        <div id="sidebarLegal" class="">
            <div class="" onclick="window.location.href='./templates/html/legalNotice.html'">
                <img class="" src="" alt="Info">
                <h4>Legal notice</h4>
            </div>
        </div>
    </div>
</nav>