<div class="sidebar">
    <div class="sidebarContent">
        <img class="sidebarLogo" src="./img/sidebarLogo.svg" alt="JoinLogo">
        <div class="sidebarNav">
            <div id="sidebarSummary" class="sidebarBtn sidebarBtnActive" onclick="renderSummary()">
                <img class="" src="./img/summaryIcon.svg" alt="Summary">
                <p>Summary</p>
            </div>
            <div id="sidebarBoard" class="sidebarBtn" onclick="renderBoard()">
                <img class="" src="./img/boardIcon.svg" alt="Board">
                <p>Board</p>
            </div>
            <div id="sidebarAddTask" class="sidebarBtn" onclick="renderAddTask()">
                <img class="" src="./img/addTaskIcon.svg" alt="Add Task">
                <p>Add Task</p>
            </div>
            <div id="sidebarContacts" class="sidebarBtn" onclick="renderContacts()">
                <img class="" src="./img/contactsIcon.svg" alt="Contacts">
                <p>Contacts</p>
            </div>
        </div>
        <div class="sidebarLegal">
            <div id="sidebarLegal" class="sidebarBtn" onclick="showLegalNoticeScreen()">
                <img class="" src="./img/legalNoticeIcon.svg" alt="Info">
                <p>Legal notice</p>
            </div>
        </div>
    </div>
</div>