.contentSection {
    background-color: #F6F7F8;
}

h1 {
    
}

input {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 5px 10px;
}

textarea {
    font-family: 'inter', 'sans-serif';
    height: 50px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 5px 10px;
}

select {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 5px 10px;
}

.contentLeftAndRight {
    display: flex;
}

.contentLeft {}

.borderline{
    border: 1px solid #D1D1D1;
}

.titleAndInput {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.descriptionAndTextarea {
    display: flex;
    flex-direction: column;
}

.categoryAndSelect {
    display: flex;
    flex-direction: column;
}

.assignedToAndSelect {
    display: flex;
    flex-direction: column;
}

.contentRight {}

.dueDateAndInput {
    display: flex;
    flex-direction: column;
}

.subtasksAndInput {
    display: flex;
    flex-direction: column;
}