html {
    overflow-y: hidden;
}

.contentSection {
    background-color: #F6F7F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}

h1 {
    /* Add Task */
    margin: 0;

    /* Version 2/t1 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    /* or 73px */

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 100%;
}

span {
    /* Version 2/t6 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    margin: 5px 0px 5px 0px;
}

input {
    /* Frame 14 */
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;

    width: 422px;
    height: 51px;

    background: #FFFFFF;

    /* Style */
    border: 1px solid #D1D1D1;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    font-weight: 400;
    font-size: 21px;
}

textarea {
    /* Frame 17 */
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;

    width: 422px;
    height: 119px;

    background: #FFFFFF;

    /* Style */
    border: 1px solid #D1D1D1;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    font-family: 'inter', 'sans-serif';
    font-weight: 400;
    font-size: 21px;
}

select {
    /* Frame 14 */
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
    isolation: isolate;

    width: 422px;
    height: 51px;

    background: #FFFFFF;
    /* Style */

    border: 1px solid #D1D1D1;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    font-weight: 400;
    font-size: 21px;
}

button {
    font-weight: 400;
    font-size: 21px;
}

.contentLeftAndRight {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.borderline {
    border: 1px solid #D1D1D1;
}

/*
.contentLeft {}
*/


.titleAndInput {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 20px 0px;
}

.descriptionAndTextarea {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 20px 0px;
}

.categoryAndSelect {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 20px 0px;
}

.categoryAndSelect select {
    -webkit-appearance: none; /* Safari und Chrome */
    -moz-appearance: none; /* Firefox */
    appearance: none; /* Standardwert */
    background: white url("../../img/dropdownArrow.png") no-repeat right center; /* Hintergrundbild für den angepassten Pfeil */
    background-position: 390px;
}

.categoryAndSelect select:hover {
    cursor: pointer;
}

.assignedToAndSelect {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 20px 0px;
}

.assignedToAndSelect select {
    -webkit-appearance: none; /* Safari und Chrome */
    -moz-appearance: none; /* Firefox */
    appearance: none; /* Standardwert */
    background: white url("../../img/dropdownArrow.png") no-repeat right center; /* Hintergrundbild für den angepassten Pfeil */
    background-position: 390px;
}

.assignedToAndSelect select:hover {
    cursor: pointer;
}

/*
.contentRight {}
*/

.dueDateAndInput {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 20px 0px;
}

.dueDateAndInput input {
    background: white url("../../img/calendarIcon.png") no-repeat right;
    background-position: 380px;
}

.prio {
    margin: 25px 0px 20px 0px;
}

.prioButtons {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
}

.prioButtons button {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    border: none;
    width: 136px;
    height: 51px;

    /* white */

    background: #FFFFFF;
    /* nuevo */

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    transition: ease-in-out 125ms;
}

.prioButtons button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in-out 125ms;
}

.subtasksAndInput {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 20px 0px;
}

.subtasksAndInput input {
    background: white url("../../img/subtaskIcon.png") no-repeat right;
    background-position: 390px;
}

.twoButtons {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 0px;
    gap: 25px;
}

.clearButton {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;

    width: 136px;
    height: 55px;

    /* Version 2/ main color  */
    border: 1px solid #2A3647;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.createTaskButton {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 15px;
    gap: 10px;

    font-weight: 700;
    color: #FFFFFF;

    width: 187px;
    height: 55px;

    background: #2A3647;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}