.contentSectionContacts {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
}

.contactsSection {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.contactsList {
    min-width: 450px;
    height: 100%;
    border: solid transparent;
    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactsListGroupHead {
    width: 357px;
    border-bottom: 1px solid;
    border-color: #D1D1D1;
    margin-bottom: 14px;
}

.contactsListGroupHead p {
    padding-left: 36px;
    font-weight: 400;
    font-size: 20px;
}


.contactsListGroupContact {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 79px;
    border-radius: 10px;
}

.contactsListGroupContactBg{
    background: #2A3647;
    color: white
}

.contactsListGroupContactBgInactive:hover {
    cursor: pointer;
    background: #F5F5F5;
    transition: all ease-in-out 100ms;
}

.contactsListGroupContact h4 {
    border: 2px solid transparent;
    width: 25px;
    height: 25px;
    padding: 10px;
    border-radius: 100%;
    font-size: 16px;
    border-color: white;

    margin-left: 25px;
    font-weight: 400;
    color: white;
    line-height: 1.5;
    text-align: center;
}

.contactsListGroupContact div {
    margin-left: 35px;
}

.contactsListContactName {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 0;
}

.contactsListContactMail {
    color: #007CEE;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.contactsDetail {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #F5F5F5;
    padding: 58px;
    padding-top: 0;
    justify-content: space-between;
}

.contactsDetailHead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.contactsDetailHead h2 {
    font-size: 61px;
    font-weight: 700;
    margin-right: 30px;
}

.contactsDetailHead p {
    font-size: 25px;
    font-weight: 400;
    margin-left: 30px;
}

.contactsDetailInfo {
    margin-top: 10px;
}

.contactsDetailInfoHead {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 79px;
    border-radius: 10px;
}

.contactsDetailInfoHead h4 {
    border: 2px solid transparent;
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 100%;
    font-size: 50px;
    border-color: white;
    background: rgb(42, 203, 150);
    font-weight: 500;
    color: white;
    line-height: 2;
    text-align: center;
}

.contactsDetailInfoHead div {
    margin-left: 54px;
}

.contactsDetailInfoHeadName {
    font-size: 47px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 5px;
}

.contactsDetailInfoHeadAddTask {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    color: #29ABE2;
}

.contactsDetailInfoContent {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.contactsDetailInfoContentLeft {
    width: 250px;
}

.contactsDetailInfoContentLeft h3 {
    margin-bottom: 45px;
}

.contactsDetailInfoContentRightEdit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.contactsDetailInfoContentRightEdit:hover {
    cursor: pointer;
    color: #29ABE2;
}

.contactsDetailBottom {
    display: flex;
    justify-content: flex-end;
}

.contactsDetailBottomBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    width: 200px;
    background: #2A3647;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
}

.contactsDetailBottomBtn:hover {
    cursor: pointer;
    background: #29ABE2;
    transition: all 100ms ease-in-out;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contactsDetailBottomBtnAlt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    width: 120px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid !important;
    background: white;
    margin-right: 20px;
}

.contactsDetailBottomBtnAlt:hover {
    cursor: pointer;
    border-color: #29ABE2 !important;
    color: #29ABE2;
}

.overlaySection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlayAddContact {
    transform: translate(-50%, -50%);
    animation: slideIn 0.8s ease-in-out;
    background-color: white;
    display: flex;
    flex-direction: row;
    color: white;
    width: 80%;
    max-width: 1000px;
    height: 550px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
}

@keyframes slideIn {
    from { 
        transform: translate(150%, -50%);
    }
    to {
        transform: translate(-50%, -50%);
    }
}

.overlayAddContactLeft {
    background-color: #2A3647;
    width: 38%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlayAddContactLeftContent {
    padding-bottom: 80px;
}

.overlayAddContactLeftContentLogo {
    height: 65px;
}

.overlayAddContactLeftHeadline {
    font-size: 50px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.overlayAddContactLeftCaption {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
}

.overlayAddContactLeftContentLine {
    width: 75px;
}


.overlayAddContactRight {
    display: flex;
    flex-direction: row;
    width: 62%;
}

.overlayAddContactRightProfilepic h4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid transparent;
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 100%;
    font-size: 50px;
    border-color: white;
    font-weight: 500;
    text-align: center;
}

.overlayAddContactRightProfilepic {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
}

.overlayAddContactRightInputSection {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-left: 40px;
    padding-right: 60px;
    width: 100%;
}

.overlayAddContactRightInputSectionHead {
    padding-bottom: 50px;
}

.overlayAddContactRightInputSectionHead:hover {
   cursor: pointer;
}


.overlayAddContactRightInputSection form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 20px;
    width: 100%;
}

.overlayAddContactRightInputSection input {
    width: 100%;
    height: 50px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    font-size: 20px;
}

.overlayAddContactRightButtonSection {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.overlayAddContactRightButtonSection button{
    border: none;
}


.overlayAddContactSuccess {
    transform: translate(-50%, -50%);
    animation: slideUp 0.8s ease-in-out;
    position: absolute;
    top: 80%;
    left: 50%;
}

@keyframes slideUp {
    from { 
        transform: translate(-50%, 150%);
    }
    to {
        transform: translate(-50%, -50%);
    }
}

.contactOverlayNameIcon {
    background-image: url('/../img/addContactOverlayInputName.svg');
    background-repeat: no-repeat;
    background-position: 95%;
}

.contactOverlayEmailIcon {
    background-image: url('/../img/addContactOverlayInputMail.svg');
    background-repeat: no-repeat;
    background-position: 95%;
}

.contactOverlayPhoneIcon {
    background-image: url('/../img/addContactOverlayInputPhone.svg');
    background-repeat: no-repeat;
    background-position: 95%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}