.header {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    left: 0px;
    top: 0px;   
    width: 100%;
    height: 89px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    z-index: 5;
}

.header p {
    left: 348px;
    position: absolute;
    font-size: 20px;
    font-weight: 400;
}

.headerContentRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 58px;
}

.helpLogo {
    height: 29px;
    margin-right: 25px;
    cursor: pointer;
    background: none !important;
}

.helpLogoMobile {
    display: none;
}

.legalNoticeIcon {
    height: 29px;
    margin-right: 25px;
    cursor: pointer;
    background: none !important;
    display: none;
}

.profileLogo {
    height: 45px;
    padding: 2px;
    border: 3px solid;
    border-radius: 100%;
    border-color: #091931;
    cursor: pointer;
}

.joinLogoSmall{
    display: block;
    height: 50px;
    margin-left: 58px;
}

.headerContentRightLogout {
    right: 55px;
    background: #2A3647;
    padding: 10px;
    color: #CDCDCD;
    position: absolute;
    top: 90px;
    border-radius: 20px 0px 20px 20px;
    text-align: start;
    line-height: 1.8;
    cursor: pointer;
}

.headerContentRightLogout h6 {
    font-size: 16px;
    margin: 0;
}

.headerContentRightLogout h6:hover {
    transform: scale(1.05);
}

.headerContentRightLogoutLegal {
    display: none;
}

.headerContentRightLogoutHelp{
    display: none;
}